.popular {
  font-size: 30px;
  color: crimson;
  font-family: fantasy;
}
.stacy {
  color: brown;
  font-family: sans-serif;
}
.tropical {
  background-color: green;
  color: #f7325e;
}
.subtitle {
  color: #7dc410;
  
}
